# Перечень volume
volumes:
  pg_data:
  static:

# Перечень контейнеров
services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 10
  
  backend:
    image: skryabinaleksey/taski_backend
    env_file: .env
    volumes:
      - static:/backend_static
    depends_on:
      db: 
        condition: service_healthy
  
  frontend:
    image: skryabinaleksey/taski_frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static
    

  gateway:
    image: skryabinaleksey/taski_gateway
    ports:
      - 8000:80 
    volumes:
      - static:/staticfiles
    depends_on:
      - backend
